# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
src/__pycache__/*
src/core/__pycache__/*
src/core/__init__.py
src/models/__pycache__/*
src/routers/__pycache__/*
src/services/__pycache__/*


# App output & storage
app/faces/*
app/output/*
app/piper_voices/*

*.wav
*.mp3

# Testing & logs
.pytest_cache/
*.log